.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroContent {
  position: relative;
  z-index: 2; /* Ensure content is above any potential overlay */
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}